* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.second-font-size {
  font-size: 38px;
}
.third-font-size {
  font-size: 28px;
}
.forth-font-size {
  font-size: 24px;
}
.fifth-font-size {
  font-size: 14px;
}
.bold {
  font-weight: 700;
}
.margin-top {
  margin-top: 15px;
}
.secondary-font-color {
  color: rgb(120, 120, 133);
}
img.size {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* header section  */
.navigation {
  width: 90%;
  margin: 50px auto;
}
.nav-header {
  color: rgb(58, 58, 58);
}
.visibility {
  display: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
ul li {
  list-style-type: none;
}
ul li a {
  text-decoration: none;
  color: rgb(58, 58, 58);
}


.banner{
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.banner-content{
  width: 40%;
}

.banner-title{
  font-size: 52px;
  color: rgb(58, 58, 58);
  font-weight: bold;
  margin-bottom: 10px;
}
.banner-paragraph{
  color: rgb(58, 58, 58);
  font-weight: bold;
  margin-bottom: 10px;
}
.banner-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: white;
  padding: 15px 25px;
  border-radius: 41px;
background: rgb(224, 44, 109);
border: none;
}
/* online marketplace section  */
.logo-grid-container {
  width: 80%;
  display: flex;
  /* flex-wrap: wrap; */
  gap: 20px;
  padding: 10px;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  margin: 50px auto;
}

.logo-item img {
  max-width: 100px;
  max-height: 50px;
}

.logo-item img {
  max-width: 100%;
  max-height: 100%;
}
/* section popular */
.popular {
  width: 75%;
  margin: 50px auto;
}
.card-parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.card-box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px;
}
.card-image {
  margin: 0px auto;
}
.popular-title {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}
.star-rating {
  display: flex;
  align-items: center;
}

.star {
  color: orange;
  font-size: 24px;
  margin-right: 2px;
}

.half-star {
  color: orange;
  font-size: 24px;
  margin-right: 2px;
  position: relative;
}

.half-star::before {
  content: "\2605";
  color: #ccc;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  overflow: hidden;
}

.rating-text {
  margin-left: 10px;
  font-size: 18px;
  color: #333;
}

/* feature section  */
.feature {
  width: 80%;
  margin: 50px auto;
  display: flex;
  align-items: center;
  gap: 100px;
}
.feature-img {
  padding: 20px;
}
.feature-content {
  padding: 20px;
}
.feature-content-title {
  color: rgb(10, 8, 38);
}
.feature-content-paragraph {
  color: rgb(108, 108, 108);
}
.feature-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
  gap: 8px;
  color: white;
  background: rgb(224, 44, 109);
  border: none;
}
/* footer sectiion  */
.footer {
  background-color: #0a0826;
  padding: 50px;
  color: white;
  text-align: center;
}
.footer-icon img {
  text-decoration: none;
  margin-right: 15px;
}
.footer-icon img:last-child {
  margin: 0px;
}
@media screen and (max-width: 576px) {
  .feature {
    width: 100%;
    flex-direction: column-reverse;
    gap: 20px;
    margin: 30px auto;
  }
  /* .btn{
    text-align: center;
  } */
  .popular {
    width: 100%;
    padding: 20px;
    margin: 20px auto;
  }
  .card-parent {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .logo-grid-container {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: 20px auto;
  }
  .visibility {
    display: block;
  }
  .hidden {
    display: none;
  }
  .nav-header{
    font-size: 16px;
  }
  .navigation{
    width: 100%;
    padding: 20px;
    margin: 30px auto;
  }
  .btn-contanier{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner{
    flex-direction: column-reverse;
    width: 100%;
  }
  .banner-content{
    width: 100%;
  }
  .banner-title{
    font-size: 28px;
    text-align: center;
  }
  .banner-paragraph{
    font-size: 14px;
    text-align: center;
  }
}
